

 /* General */
body {
  font-family: "Space Mono", sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utelity */
.wrapper{
  width: auto;
  margin: 0 35px;
}

.content{
  height: 79vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.img, .txt-with-btn{
  padding: 0 10px;
  margin-bottom: 45px;
}

a:visited{color: #333}

/* Navbar */
nav{
  padding: 27px 30px;
}

nav .logo a{
  font-family: "Inconsolata", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.08em;
  color: #333;
  text-decoration: none;
  transition: all .3s ease-in-out
}
nav .logo a:hover{color: #ff6d5b}

/* Main */
main{
  padding: 0px 20px;
  height: 78vh;;
}

main .content .txt-with-btn{ }
main .content .txt-with-btn h1{
  font-size: 53px;
  color: #333;
  line-height: 72.78px;
  font-style: normal;
  font-weight: 700;
}
main .content .txt-with-btn p{
  font-size: 24px;
  color: #4F4F4F;
  line-height: 36px;
  letter-spacing: -0.035em;
  font-style: normal;
  font-weight: normal;        
  padding: 30px 0;
  width: 274px;
}
main .content .txt-with-btn button{
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  line-height: 21px;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  color: #fff;
  background-color: #333;
  padding: 24px 47px; 
  margin-top: 23px;
  border: none;
  cursor: pointer;
  transition: all .3s ease-in-out
}
main .content .txt-with-btn button:hover{
  background-color: #555;
  color: #ff6d5b
}

main .content .txt-with-btn .footer{
  text-align: center;
  padding: 13px;
  width: 100%;
  
}

main .footer{
  text-align: center;
  padding: 43px 0 25px;
  margin: auto;
  width: 100%;
}
.footer p{
  color: #555;
}
.footer a{
  color: #000;
  text-decoration: underline;
}
.footer a abbr{
  text-decoration: none;
}


/* Responsive */
@media (max-width: 1024px){
  .content .img img{
    width: 365px;
  }
  main .content .txt-with-btn h1{
    font-size: 43px;
    line-height: 68.78px;  
  }
  main .content .txt-with-btn p{
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.035em;
  }
    main .content .txt-with-btn button{
    margin-top: 5px;
    padding: 18px 23px;
  }
}


@media (max-width: 768px){
  .content{
    justify-content: center;
    flex-wrap: wrap;
  }
  .content .img img{
    width: 339px;
  }
  main .content .txt-with-btn{
  margin-bottom: 23px;
  }
  main .content .txt-with-btn h1{
    font-size: 38px;
    line-height: 59.78px;  
  }
  main .content .txt-with-btn p{
    font-size: 18px;
  }
  main .content .txt-with-btn button{
    padding: 18px 23px;
  }
}
@media (max-width: 480px){
  .content .img img{
    width: 265px;
  }
}

@media (max-width: 320px){
  .content .img img{
    width: 225px;
  }
}
