

 /* General */
body {
  font-family: "Space Mono", sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utelity */
.container{
  width: auto;
  margin: 0 35px;
}

.row{
  margin: 35px 0;
  display: flex;
  flex-direction: row;
  display: flex;
  /*flex-wrap: wrap;*/
  justify-content: space-between;
  align-items: center;
}

.col-one, .col-two{
  padding: 0 10px;
  margin-bottom: 45px;
}

a:visited{color: #333}

/* Navbar */
nav{
  padding: 27px 30px;
}

nav .logo{
  font-family: "Inconsolata", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.08em;
  color: #333;
}
nav .logo a{
  text-decoration: none;
  transition: all .3s ease-in-out
}
nav .logo a:hover{color: #ff6d5b}

/* Heading */
header{
  padding: 0px 20px;
}
header .row{
  /*background-image: url('Scarecrow.png');
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: left;
  align-items: flex-end;*/
}

header .row .col-two{ }
header .row .col-two h1{
  font-size: 53px;
  color: #333;
  line-height: 72.78px;
  font-style: normal;
  font-weight: 700;
}
header .row .col-two p{
  font-size: 24px;
  color: #4F4F4F;
  line-height: 36px;
  letter-spacing: -0.035em;
  font-style: normal;
  font-weight: normal;        
  padding: 30px 0;
  width: 274px;
}
header .row .col-two button{
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  line-height: 21px;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  color: #fff;
  background-color: #333;
  padding: 24px 47px; 
  margin-top: 23px;
  border: none;
  cursor: pointer;
  transition: all .3s ease-in-out
}
header .row .col-two button:hover{
  background-color: #555;
  color: #ff6d5b
}

/* Footer */
footer{
  text-align: center;
  padding: 13px;
  position: absolute;
  bottom: 0;
  margin: auto;
  width: 100%;
  
}
footer p{
  color: #555;
}
footer a{
  color: #000;
  text-decoration: underline;
}
footer a abbr{
  text-decoration: none;
}


/* Responsive */
@media (max-width: 964px){
  .row .col-one img{
    width: 365px;
  }
    header .row .col-two h1{
    font-size: 43px;
    line-height: 68.78px;  
  }
  header .row .col-two p{
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.035em;
  }
}

@media (max-width: 768px){
  .row{
    justify-content: center;
    flex-wrap: wrap;
  }
  .row .col-one img{
    width: 339px;
  }
  header .row .col-two{
  margin-bottom: 23px;
  }
  header .row .col-two h1{
    font-size: 38px;
    line-height: 59.78px;  
  }
  header .row .col-two p{
    font-size: 18px;
  }
  header .row .col-two button{
    margin-top: 5px;
    padding: 18px 23px;
  }
}
@media (max-width: 480px){
  .row .col-one img{
    width: 265px;
  }
}

@media (max-width: 320px){
  .row .col-one img{
    width: 225px;
  }
}
